@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    gap: 1em;
    min-height: 100vh;
    background: rgba(255, 173, 182, 0.5);
    overflow-y: hidden;
  }
  
  .canvas {
    position: absolute;
    z-index: 1;
    inset: 0;
    pointer-events: none;
  }

.wrapper {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    transform: rotate(45deg);
}

.heart {
    width: 200px; 
    height: 200px;
    background-color: #FE6689;
    position: relative; 

    animation: heartbeat 1.5s ease-in-out infinite both;
}

.heart::before,
.heart::after {
    content : '';
    display: block;
    width: 200px;
    height: 200px;
    background-color: #FE6689;
    border-radius: 50%; 
    position: absolute;
}

.heart::before {
    top: -100px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -100px;
}

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  